
.list{
  text-transform: center;
  margin-top: 1rem;
  padding: 2rem 5rem;

}
.list h2{
  color: var(--clr-gold);
  font-family: "Great Vibes", cursive;
  text-align: center;
  margin: 2rem;
  text-shadow: 2px 2px var(--clr-black);
}
.list p{
  margin: 0 1rem;
  text-align: center;
}
.project-info {
  background: var(--clr-black);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.project-info p {
  padding: 0.5rem 0 0 0.5rem;
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--clr-gold);

}
.project-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: var(--transition);
}
.project-info a:visited {
   text-decoration: none;
   color: var(--clr-gold);
}
