@import url('https://use.typekit.net/ist3wra.css');
.message-wrap {
  background-color: transparent;
  color: #f9f9f8;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 300px;
  font-family: "megrim", sans-serif;
  margin: 5px 20%;
}
.message-wrap span::before {
  content: "Hello!";
  animation: openclose infinite 20s ease-in-out;
  padding-left: 10px;
}

@keyframes openclose {
  5%, 15%,25%,35%,45%,55%,65%,75%,85%,95%{
    opacity: 0;
  }
  10% {
    opacity: 1;
    content: "Xin Chào!";
  }
  20% {
    opacity: 1;
    content: "Bonjour!";
  }
  30% {
    opacity: 1;
    content: "こんにちは!";
  }
  40% {
    opacity: 1;
    content: "Hola!";
  }
  50% {
    opacity: 1;
    content: "안영하세요!";
  }
  60% {
    opacity: 1;
    content: "Salve!";
  }
  70% {
    opacity: 1;
    content: "Namaste!";
  }
  80% {
    opacity: 1;
    content: "Olá!";
  }
  90% {
    opacity: 1;
    content: "你好!";
  }
}
@media (max-width: 1200px){
  .message-wrap {
    margin: auto;
    text-align: center;
  }
}
